---
AlignAfterOpenBracket: true
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignConsecutiveShortCaseStatements:
  Enabled: false
AlignEscapedNewlines: LeftWithLastLine

BreakBeforeBinaryOperators: All
AlignOperands: Align

AlignTrailingComments:
  Kind: Never
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
BitFieldColonSpacing: Both

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true

BreakAdjacentStringLiterals: true
BreakAfterReturnType: ExceptShortType
BreakArrays: false
BreakBeforeTernaryOperators: true
BreakFunctionDefinitionParameters: false
BreakStringLiterals: true

ColumnLimit: 100
ContinuationIndentWidth: 4
IndentWidth: 4
TabWidth: 4
UseTab: Never

DerivePointerAlignment: false
PointerAlignment: Right
QualifierAlignment: Left

IncludeBlocks: Regroup
SortIncludes: true

IndentCaseBlocks: false
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentWrappedFunctionNames: true
InsertNewlineAtEOF: true

KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfFile: false
  AtStartOfBlock: false

MaxEmptyLinesToKeep: 1

PenaltyBreakAssignment: 1
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 1
PenaltyBreakFirstLessLess: 1
PenaltyBreakOpenParenthesis: 1
PenaltyBreakScopeResolution: 1
PenaltyBreakString: 1
PenaltyBreakTemplateDeclaration: 1
PenaltyExcessCharacter: 1
PenaltyIndentedWhitespace: 1
PenaltyReturnTypeOnItsOwnLine: 1

ReflowComments: true

SeparateDefinitionBlocks: Always
SkipMacroDefinitionBody: false

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: false
SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 2
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1

SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: false
  InCStyleCasts: false
  InEmptyParentheses: false
  Other: false

SpacesInSquareBrackets: false

# WhitespaceSensitiveMacros
...
